<!doctype html>
<html>
  <head>
    <title>Example Ooyala Uploader</title>
    <% ["jquery-1.8.2.min.js", "ooyala_uploader.js", "sample_driver.js", "swfupload.js"].each do |asset| %>
      <%= js_url(asset) %>
    <% end %>
    <style>
      #messages {
        width: 450px;
        height: 200px;
        overflow-y: auto;
      }
    </style>
    <script>
      $(document).ready(function() {
        SampleDriver.init();
      });
    </script>
  </head>
  <body>
    <h1>Example Ooyala Uploader</h1>
    Labels to assign<br>
    Label paths must start with a slash and must not end with a slash
    <div>
      <textarea id="labelsText" cols="25" rows="7">/write/here/your/labels
/on/each/line</textarea>
    </div>
    <br>
    <label>File Picker:</label><br>
    <input id="html5InputFile" type="file"/>
    <input id="flashInputButton" type="button">
    <br><br>
    Log
    <div id="messages"></div>
  </body>
</html>
